<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
		  <center>
		  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RusPython -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6844805802716850"
     data-ad-slot="5587174583"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
